@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

body {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    font-family: "Lexend Deca", sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container > .card {
    max-width: 300px;
    height: 500px;
    max-height: 500px;
    
}

.card-img, .card-title, .card-text, button {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 40px;
}

.card:nth-child(1) {
    background-color: var(--bright-orange);
    border-radius: 5px 0 0 5px;
}

.card:nth-child(1) > button {
    color: var(--bright-orange);
}

.card:nth-child(2) {
    background-color: var(--dark-cyan);
}

.card:nth-child(2) > button {
    color: var(--dark-cyan);
}

.card:nth-child(3) {
    background-color: var(--very-dark-cyan);
    border-radius: 0 5px 5px 0;
}

.card:nth-child(3) > button {
    color: var(--very-dark-cyan);
}

.card-title {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--very-light-gray);
}

.card-text {
    color: var(--transparent-white);
    line-height: 1.7;
}

button {
    border: none;
    border-radius: 30px;
    margin-top: 60px;
    background-color: var(--very-light-gray);
    width: 130px;
    height: 40px;
    font-weight: 700;
}

@media screen and (max-width: 480px) {
    .card:nth-child(1) {
        border-radius: 5px 5px 0 0;
    }

    .card:nth-child(3) {
        border-radius: 0 0 5px 5px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }